<ul class="nav sidebar-nav">
  <% unless current_cib.live? %>
    <li>&nbsp;</li>
  <% end %>
  <li>
  </li>
  <li>
    <%= _("Monitoring") %>
    <ul>
      <li class="<%= active_menu_with(:cib) %>">
        <%= link_to icon_text("heartbeat fa-fw", _("Status")), cib_path(cib_id: current_cib.id) %>
      </li>
      <% if current_cib.live? %>
      <li class="<%= active_menu_with(:dashboards) %>">
        <%= link_to icon_text("dashboard fa-fw", _("Dashboard")), dashboard_path %>
      </li>
      <% end %>
    </ul>
  </li>
  <% if current_cib.live? %>
  <li>
    <%= _("History") %>
    <ul>
        <li class="<%= active_menu_with(:reports) %>">
          <%= link_to icon_text("history fa-fw", _("Reports")), reports_path %>
        </li>
    </ul>
  </li>
  <% end %>
  <% unless current_cib.offline? %>
    <li>
      <%= _("Configuration") %>
      <ul>
        <% unless current_cib.offline? %>
          <% if current_cib.live? %>
            <li>
              <%= link_to icon_text("toggle-off fa-fw", _("Activate Batch Mode")), cib_path(cib_id: current_user, init_cib: true), class: "simulator", title: _("Batch Configuration Changes") %>
            </li>
          <% else %>
            <li class="batch-navbar-on">
              <%= icon_text("toggle-on fa-fw", _("Batch Mode")) %>
            </li>
          <% end %>
          <li></li>  
        <% end %>

        <li class="<%= active_menu_with(:wizards) %>">
          <%= link_to icon_text("magic fa-fw", _("Wizards")), cib_wizards_path(cib_id: current_cib.id) %>
        </li>
        <li class="<%= active_menu_with(:configs) %>">
          <%= link_to icon_text("database fa-fw", _("Edit")), edit_cib_config_path(cib_id: current_cib.id) %>
        </li>
        <li class="<%= active_menu_with(:configs) %>">
          <%= link_to icon_text("th-list fa-fw", _("Show")), cib_config_path(cib_id: current_cib.id) %>
        </li>
        <li class="<%= active_menu_with(:configs) %>">
          <%= link_to icon_text("code fa-fw", _("XML")), cib_config_path(cib_id: current_cib.id, xml: true) %>
        </li>
        <li class="<%= active_menu_with(:graphs) %>">
          <%= link_to icon_text("picture-o fa-fw", _("Graph")), cib_graph_path(cib_id: current_cib.id) %>
        </li>
        <li class="<%= active_menu_with(:crm_config) %>">
          <%= link_to icon_text("cog fa-fw", _("Options")), edit_cib_crm_config_path(cib_id: current_cib.id) %>
        </li>
        <li class="<%= active_menu_with(:commands) %>">
          <%= link_to icon_text("terminal fa-fw", _("Log")), cib_commands_path(cib_id: current_cib.id) %>
        </li>
      </ul>
    </li>
  <% end %>
  <li>
    <%= _("Session") %>
    <ul>
  <li>
    <%= link_to icon_text("question fa-fw", _("Help")), help_path, class: "help", data: { toggle: "modal", target: "#modal" }, title: _("Help") %>
  </li>
      <li>
        <%= link_to icon_text("user fa-fw", _("Preferences")), edit_cib_profile_path(cib_id: current_cib.id), class: "profile", title: profile_title %>
  </li>
  <li>
    <%= link_to icon_text("sign-out fa-fw", _("Logout")), logout_path, class: "logout", title: _("Logout") %>
  </li>

    </ul>
  </li>
    
</ul>
<div class="footer">
  <%= branding_config[:provider].html_safe %>
</div>
